<input auto-complete [(ngModel)]="searchedPlayer" [min-chars]="1" [source]=" getSearchedPlayers.bind(this) " type="text" placeholder="search player" (valueChanged)="itemIsSelected($event)" class="search-player-input" [list-formatter]="myListFormatter"
    [value-formatter]="searchValueFormatter">
  <img src="{{player.picture}} " alt=" " onerror="this.src='http://stats.nba.com/media/players/230x185/177.png'">
  <h3>{{player.number}}</h3>
  <h3>{{player.firstName}} {{player.lastName}}</h3>
  <ng-container *ngIf="playerData">
    <select name="year " id="year-selector" #yearSelectorElem (change)="onYearSelect($event.target.value)">
    <optgroup label="Career Totals">
      <option value="careerTotalsRegularSeason 0" selected="">Regular Season Avg.</option>
      <option value="careerTotalsPostSeason 0">Post Season Avg.</option>
    </optgroup>
    <optgroup label="Regular Season">
      <option *ngFor="let yearData of playerData.seasonTotalsRegularSeason; let i = index" value="seasonTotalsRegularSeason {{i}}">{{yearData.seasonId}} {{yearData.teamAbbreviation}}</option>
    </optgroup>
    <optgroup label="Post Season">
      <option *ngFor="let yearData of playerData.seasonTotalsPostSeason; let i = index" value="seasonTotalsPostSeason {{i}}">{{yearData.seasonId}} {{yearData.teamAbbreviation}}</option>
    </optgroup>

    </select>
  </ng-container>
