.stat-holder {
  width: 60%;
  height: 6vh;
  margin: 1.5vh auto;
  padding: 2px;
  border-radius: 10px;
  background-color: #595558;
  text-shadow: 0px 1px 1px black;
  font-size: 3rem;
  text-align: center;
  cursor: default;
  -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;

  @media (max-width: 640px){
    padding: 1vh;
  }

}

.winner {
  background-color: #257F1C;
}

.no-stat-message {
  padding-top: 5vh;
}
