body {
  background-image: url("http://www.lanlinglaurel.com/data/out/184/5611903-basketball-wallpaper-hd.jpg");
  background-color: blue;
  background-position: center;
  background-size: cover;
}

#full-page {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20)), url("../../assets/basketball-background-1.jpg");
  background: -o-linear-gradient(rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20)), url("../../assets/basketball-background-1.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20)), url("../../assets/basketball-background-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 991px) {
  #full-page {
    background-position: 0 -27vh;
  }
}

#enter-btn {
  a {
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px #000000;
  }
}

.main-detail {

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

.first-detail {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1E2938;
  text-align: center;
  color: white;
}

.second-detail {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D5D5D5;
  text-align: center;
  color: black;
}

.third-detail {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #686868;
  text-align: center;
  color: white;
}
