body {
  background-image: url("http://www.lanlinglaurel.com/data/out/184/5611903-basketball-wallpaper-hd.jpg");
  background-color: blue;
  background-position: center;
  background-size: cover;
}

#full-page {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20)), url("../../assets/basketball-background-1.jpg");
  background: -o-linear-gradient(rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20)), url("../../assets/basketball-background-1.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20)), url("../../assets/basketball-background-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 991px) {
  #full-page {
    background-position: 0 -27vh;
  }
}

#enter-btn {
  width: 100px;
  margin: auto;
  border: 2px solid white;
  border-radius: 10px;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
  a {
    text-decoration: none;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px #000000,
                 1px -1px #000000,
                 -1px 1px #000000,
                 -1px -1px #000000;
  }
}

#enter-btn:hover {
  border-color: #8FB8DE;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  a {
    color: #8FB8DE;
    //text-shadow: 1px 1px #ffffff;
  }
}

.main-detail {

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black,
               -2px -2px black,
               2px -2px black,
               -2px 2px black;

}

.main-detail-first {
  height: 24vh;
  padding-top: 6vh;
}

.main-detail-second {
  height: 24vh;
  padding-top: 8vh;
}

.main-detail-third {
  height: 24vh;
}

.first-detail {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1E2938;
  text-align: center;
  color: white;
}

.second-detail {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D5D5D5;
  text-align: center;
  color: black;
}

.third-detail {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #686868;
  text-align: center;
  color: white;
}
