<div class="container-fluid" id="full-page">
  <div class="row">
    <div class="col-xs-12 main-detail">
      <h1>MatchFacts.co</h1>
      <h2>Who's better?</h2>
      <div id="enter-btn">
        <a href="#">ENTER</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 first-detail">
      <h2>Compare Basketball Players</h2>
      <p>Select from any active or retired player in NBA History.</p>
    </div>
    <div class="col-xs-12 col-md-4 second-detail">
      <h2>Personalize Comparisons</h2>
      <p>Filter by year, regular season, post-season, career, and more...</p>
    </div>
    <div class="col-xs-12 col-md-4 third-detail">
      <h2>Participate</h2>
      <p>Let us know which stats you feel are most important in evaluating a player.</p>
    </div>
  </div>
</div>
