<div class="container-fluid" id="comparison-full-page">

  <div class="row">
    <div class="col-xs-5">
      <app-player [player]="player1" [playerData]="player1Data"></app-player>
    </div>
    <div class="col-xs-2 ">
      <img id="vs-img" src="https://s3.amazonaws.com/applause-devmktg/2015/12/02/5gs8428lyf_VS.png" alt="vs.">
    </div>
    <div class="col-xs-5">
      <app-player [player]="player2" [playerData]="player2Data"></app-player>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <app-player-stats [player]="player1" [stats]="player1Data" [statFields]="statFields"></app-player-stats>
    </div>
    <div class="col-xs-2">
      <h3 *ngFor="let field of statFields ">{{field}}</h3>
    </div>
    <div class="col-xs-5">
      <app-player-stats [player]="player2" [stats]="player2Data" [statFields]="statFields"></app-player-stats>
    </div>
  </div>

</div>
