<div class="container-fluid" id="comparison-full-page">

  <div class="row">
    <div class="col-xs-5">
      <app-player [componentId]="1">Loading Player</app-player>
    </div>
    <div class="col-xs-2 ">
      <!-- <img id="vs-img" src="https://s3.amazonaws.com/applause-devmktg/2015/12/02/5gs8428lyf_VS.png" alt="vs."> -->
      <select [(ngModel)]="statFilter" (ngModelChange)="onFilterSelect()" id="stat-filter" name="statFilter">
        <option *ngFor="let statCategory of statCategories" [ngValue]="statCategory">{{statCategory.name}}</option>
      </select>
    </div>
    <div class="col-xs-5">
      <app-player [componentId]="2">Loading Player</app-player>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-sm-5">
      <app-player-stats [componentId]="1" [statFields]="statFields">Loading Stats</app-player-stats>
    </div>
    <div class="col-xs-4 col-sm-2">
      <ng-container *ngFor="let field of statFields">
        <div class="stat-field-holder">
          {{field | uppercase}}
          <span class="tooltiptext">{{statAbbreviations[field]}}</span>
        </div>
      </ng-container>
    </div>
    <div class="col-xs-4 col-sm-5">
      <app-player-stats [componentId]="2" [statFields]="statFields">Loading Stats</app-player-stats>
    </div>
  </div>

</div>
