#comparison-full-page {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../../assets/basketball-background-13.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../../assets/basketball-background-13.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../../assets/basketball-background-13.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5vh;
  text-align: center;
  color: white;
}

#vs-img {
  width: 60%;
  margin-top: 100px;
}

.stat-field-holder {
  width: 60%;
  height: 6vh;
  margin: 1.5vh auto;
  padding: 0.45vw 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  color: black;

  @media (max-width: 640px) {
    font-size: 2rem;
    padding: 1.5vh 0;
  }
}

// @media (max-width: 640px){
//   .stat-field-holder {
//     font-size: 2rem;
//   }
// }
