<div class="container-fluid" id="comparison-full-page">

  <div class="row">
    <div class="col-xs-5">
      <app-player [componentId]="1"></app-player>
    </div>
    <div class="col-xs-2 ">
      <img id="vs-img" src="https://s3.amazonaws.com/applause-devmktg/2015/12/02/5gs8428lyf_VS.png" alt="vs.">
    </div>
    <div class="col-xs-5">
      <app-player [componentId]="2"></app-player>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <app-player-stats [componentId]="1" [statFields]="statFields"></app-player-stats>
    </div>
    <div class="col-xs-2">
      <div class="stat-field-holder" *ngFor="let field of statFields ">{{field}}</div>
    </div>
    <div class="col-xs-5">
      <app-player-stats [componentId]="2" [statFields]="statFields"></app-player-stats>
    </div>
  </div>

</div>
