#comparison-full-page {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../../assets/basketball-background-13.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../../assets/basketball-background-13.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../../assets/basketball-background-13.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 80%;
  padding-top: 5vh;
  text-align: center;
  color: white;
}

#vs-img {
  width: 60%;
  margin-top: 100px;
}

#stat-filter-selector{
  margin-top: 70%;
  font-size: 2vw;
  span {
  }

  select {
  }

  option {
  }

}

.stat-field-holder {
  width: 60%;
  height: 6vh;
  position: relative;
  margin: 1.5vh auto;
  padding: 0.45vw 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  color: black;
  cursor: default;
  -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;

  @media (max-width: 640px) {
    font-size: 2rem;
    padding: 1.5vh 0;
  }

  .tooltiptext {
      visibility: hidden;
      width: 100%;
      height: auto;
      background-color: #322F2D;
      color: #fff;
      text-align: center;
      padding: 5px;
      border-radius: 6px;

      /* Position the tooltip text */
      position: absolute;
      left: 110%;
      top: 50%;
      opacity: 0;
      transition: opacity 0.5s;
      -webkit-transform:translateY(-50%);
          -ms-transform:translateY(-50%);
              transform:translateY(-50%);
      z-index: 1;
  }

  .tooltiptext::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #322F2D transparent transparent;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.stat-field-holder:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
