@font-face {
  font-family: 'euronism_b';
  src: url('../../assets/euronism/D3Euronism_b.ttf');
}

body {
  background: "http://hd-wall-papers.com/images/wallpapers/basketball-background-wallpaper/basketball-background-wallpaper-13.jpg";
}
