/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'euronism_b';
  src: url('./assets/euronism/D3Euronism_b.ttf');
}
@font-face {
  font-family: 'euronism';
  src: url('./assets/euronism/D3Euronism.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0;
    margin: 0;
}

html {
  font-size: 40%;
}

body {
  font-size: 14px;
  font-size: 2.5rem;
  font-family: 'Roboto', 'euronism', sans-serif;
  background-color: black;
}

h1 {
  font-size: 34px;
  font-size: 4.0rem;
}

h2 {
  font-size: 24px;
  font-size: 3.5rem;
}

h3 {
  font-size: 19px;
  font-size: 3.0rem;
}

h1, h2, h3 {
  font-family: 'Roboto', 'euronism_b', serif;
}

.ng2-auto-complete > ul li{
  font-size: 2.5rem;
  color:#000;
}

select {
  color: black;
}

#year-selector > optgroup {
    background-color: black;
    color: white;
}
